@font-face{
    font-family: 'hinted-CheyenneSans-Light';
    src: url("../fonts/hinted-CheyenneSans-Light.ttf");
    font-weight: normal;
    font-style: normal
}
@font-face{
    font-family: 'hinted-CheyenneSans-ExtraLight';
    src: url("../fonts/hinted-CheyenneSans-ExtraLight.ttf");
    font-weight: normal;
    font-style: normal
}
@font-face{
    font-family: 'hinted-CheyenneSans-Medium';
    src: url("../fonts/hinted-CheyenneSans-Medium.ttf");
    font-weight: normal;
    font-style: normal
}


body{
    background-color: #515151;
    font-family: 'hinted-CheyenneSans-ExtraLight';
}

.navbar-custom{
    background-color: #393939;
}

#main{
    width: 95%;
    margin: 2% auto;
}

.title-txt{
    font-size: 20px;
}

.big-title-txt{
    font-size: 25px;
    color: #c4c4c4;
    font-family: 'hinted-CheyenneSans-Light';
}

label{
    margin-bottom: -12px;
    padding-top: 5px;
}

.background{
    background-color: #f3f3f3
}

#wyszukiwarka:after{
    display: block;
    content: '';
    height: 1px;
    width: 100%;
    background-color: #cfcfcf;
}

.actor-box{
    width: 95%;
    margin: 0 auto;
    font-size: 12px;
}
.box{
    width: 170px;
    height: 110px; 
}
.box .img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.rating{
    display: inline-flex;
  flex-direction: row-reverse;
}
.rating i{
    transition: all 0.3s ease-in;
}
.fa-star{
    color: rgb(182, 182, 182);
    
}
.fa-star:hover ~.fa-star,
.fa-star:hover{
    color: rgb(255, 187, 0);
}